{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
  <title>Авторизация</title>
</head>

<body>
  <div class="login-wrapper">
    <div class="login-title">Авторизация</div>
    {% if form.errors %}
      <p>Email или пароль некорректны. Попробуйте еще раз.</p>
      <br>
    {% endif %}
    <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
      <button class="login-button button" type="submit">Войти</button>
    </form>
  </div>
</body>
</html>