{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <title>
    {% block title %}{% endblock %}
  </title>
  </head>
  <body>
  {% include "includes/header.html" %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <dialog class="modals">
      <div class="modals__content"></div>
      <button class="modals__button" type="button">Закрыть</button>
    </dialog>
    <script src="{% static 'js/modals.js' %}" type="module"></script>
  </body>
</html>