<header class="header">
  <h2 class="header__title">Матрица компетенций</h2>
  {% if user.is_authenticated %}
    <div class="header__profile">
      <button class="header__profile-info header__button"><a href="{% url 'matrix:profile' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></button>
      <button class="header__profile-button header__button"><a href="{% url 'logout' %}">Выйти</a></button>
    </div>
  {% else %}
    <div class="header__profile">
      <button class="header__profile-info header__button"><a href="{% url 'login' %}">Войти</a></button>
    </div>
  {% endif %}
</header>