<header class="header">
  {% if user.is_authenticated and request.resolver_match.view_name == 'matrix:profile'%}
    <h2 class="header__title">Профиль</h2>
    <div class="header__profile">
      <a class="header__main-page header__button" href="/">Главная страница</a>
      <a class="header__profile-button header__button" href="{% url 'logout' %}">Выйти</a>
    </div>
  {% elif user.is_authenticated %}
    <h2 class="header__title">Матрица компетенций</h2>
    <div class="header__profile">
      <a class="header__profile-info header__button" href="{% url 'matrix:profile' user.personnel_number %}">{{ user.first_name }} {{ user.last_name }}</a>
      <a class="header__profile-button header__button" href="{% url 'logout' %}">Выйти</a>
    </div>
  {% else %}
    <h2 class="header__title">Матрица компетенций</h2>
    <div class="header__profile">
      <button class="header__profile-info header__button"><a href="{% url 'login' %}">Войти</a></button>
    </div>
  {% endif %}
</header>