{% load static %}
<header style="background-color: greenyellow">
  Компетенции
</header>
<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<title>
  Компетенции
</title>
  <div class="container">
    <form method="post" enctype="multipart/form-data" id="skills">
      {% csrf_token %}
        <h3>
          Hard skills
        </h3>
        {% for hard in skills_hard %}
        <label class="form-label">{{ hard }}</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="{{ hard }}" name="{{ hard }}">
            <option selected disabled hidden></option>
            {% for grade in grade_skills %}
            <option value="{{ grade }}" name="{{ grade }}">{{ grade }}</option>
            {% endfor %}
          </select>
        {% endfor %}
        <h3>
          Soft skills
        </h3>
        {% for soft in skills_soft %}
        <label class="form-label">{{ soft }}</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="{{ soft }}" name="{{ soft }}">
            <option selected disabled hidden></option>
            {% for grade in grade_skills %}
            <option value="{{ grade }}" name="{{ grade }}">{{ grade }}</option>
            {% endfor %}
          </select>
        {% endfor %}
        <h3>
          Tool skills
        </h3>
        {% for tool in skills_tool %}
        <label class="form-label">{{ tool }}</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="{{ tool }}" name="{{ tool }}">
            <option selected disabled hidden></option>
            {% for grade in grade_skills %}
            <option value="{{ grade }}" name="{{ grade }}">{{ grade }}</option>
            {% endfor %}
          </select>
        {% endfor %}
      <input class="btn btn-primary" type="submit" value="Отправить">
    </form>
  </div>