{% extends "index.html" %}
{% block title %}
Матрица компетенций
{% endblock %}
  {% block content %}
  {% if skills %}
    <form class="form" method="post" enctype="multipart/form-data" id="skills">
      {% csrf_token %}
      {% for num in range %}
        <form__section class="form__section">
          {% if num == 1 %}
            <h3>
              Hard Skills
            </h3>
          {% elif num == 2 %}
            <h3>
              Soft Skills
            </h3>
          {% else %}
            <h3>
              Tool Skills
            </h3>
          {% endif %}
            <div class="skills-wrapper">
              {% if num == 1 %}
                {% for skill in skills %}
                  {% if skill.skill__area_of_application == "Hard skill" %}
                    {% include "matrix/skills_card_for_matrix.html" %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if num == 2 %}
                {% for skill in skills %}
                  {% if skill.skill__area_of_application == "Soft skill" %}
                    {% include "matrix/skills_card_for_matrix.html" %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if num == 3 %}
                {% for skill in skills %}
                  {% if skill.skill__area_of_application == "Tool" %}
                    {% include "matrix/skills_card_for_matrix.html" %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </form__section>
      {% endfor %}
      <button class="button" type="submit">Отправить</button>
    </form>
  {% else %}
    Для вашей должности отсутствуют матрицы
  {% endif %}
  {% endblock %}