{% extends "index.html" %}
{% block title %}
  {{ user.first_name }} {{ user.last_name }}
{% endblock %}
{% block content %}
  <p>{{ user.first_name }} {{ user.last_name }}</p>
  <p>{{ user.job_title }}</p>
  <p>{{ user.group }}</p>
  <p>Табельный номер: {% if user.personnel_number|slice:":1" == "0" %}{{ user.personnel_number|slice:"1:" }}{% else %}{{ user.personnel_number }}{% endif %}</p>
  <br>

  Общая оценка компенции для твоей должности:
  <p>{{ general_sum_grade }}</p>

  Твоя оценка:
  <p>{{ personal_sum_grade }} {% if general_sum_grade <= personal_sum_grade %}&#129321;{% else %}&#128542;{% endif %}</p>

  <p>Компетенции по которым отсутствует навык:</p>
  {% for competence in competence_grade %}
    {% if competence.grade_skill__evaluation_number == 0 %}
      <p>{{ competence.skill__skill }}</p>
    {% endif %}
  {% endfor %}
{% endblock %}