.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #fafafa;
  background-color: black;
}

.header__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__button {
  font-family: inherit;
  border: none;
  border-radius: calc(0.5rem - 2px);
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #f4f4f5;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
  text-decoration: none;
}

.header__profile-info, .header__main-page {
  color: inherit;
  background-color: transparent;
}

.header__profile-button {
  color: #18181b;
}

.header__profile-info:hover, .header__main-page:hover {
  color: #18181b;
  background-color: rgb(244 244 245);
}

.header__profile-button:hover {
  background-color: rgb(244 244 245 / 0.8);
}