body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  block-size: 100dvh;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
  padding: 1rem;
  max-inline-size: 500px;
}

.login-title {
  margin-block-end: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

.login-form > input {
  border: 1px solid #e4e4e7;
  padding: 2px 5px;
}

.button {
  border: none;
  border-radius: calc(0.5rem - 2px);
  padding: 0.5rem 1rem;
  color: #fafafa;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #18181b;
  transition: background-color 0.2s linear, color 0.2s linear;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(24 24 27 / 90%);
}

.login-button {
  grid-column: -1/1;
}
