body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-inline: auto;
  max-inline-size: 1024px;
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
  padding: 1rem;
}

.form__section {
  position: relative;
  padding: 1rem;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
}

/* Добавить класс section__title */
.form__section > h3 {
  color: #374151;
  position: absolute;
  top: -0.85rem;
  left: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-inline: 0.5rem;
  background-color: #ffffff;
}

.skills-wrapper {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(3, minmax(0,1fr));
}

.skills-card {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  gap: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
  letter-spacing: -0.025em;
  line-height: 1.25;
  font-size: 0.875rem;
  justify-content: space-between;
}

.skills-card__label {
  font-weight: 500;
}

.skills-card__select {
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: 400;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
  min-block-size: 2.15rem;
  padding-inline-start: 8px;
}

.button {
  font-family: inherit;
  border: none;
  border-radius: calc(0.5rem - 2px);
  padding: 0.5rem 1rem;
  color: #fafafa;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #18181b;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.button:hover {
  background-color: rgb(24 24 27 / 90%);
}







/* Медия запросы под размеры экрана */
@media (1024px > width > 640px) {
  .skills-wrapper {
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
}

@media (width <= 640px) {
  .skills-wrapper {
    grid-template-columns: minmax(0,1fr);
  }
}

@media (width <= 560px) {
  .header {
    gap: 0.625rem;
  }  
}

@media (width <= 445px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.60rem;
    color: #fafafa;
    background-color: black;
    
  }
  
  .header__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .button {
    border-radius: calc(0.5rem - 2px);
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 0.68rem;
    line-height: 1rem;
    transition: background-color 0.2s linear, color 0.2s linear;
  }
}